<div mat-dialog-title>
    <h1>Thêm nhân viên</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput type="text" placeholder="Nhập tên người dùng" formControlName="userName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput type="text" placeholder="Nhập họ tên đầy đủ" formControlName="fullName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Nhập mật khẩu cảu bạn" formControlName="password">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput type="text" placeholder="Nhập đại chỉ của bạn" formControlName="address">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input matInput type="number" placeholder="Nhập tuổi của bạn" formControlName="age">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Lưu</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>